<web-app>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>SkillTest.Controller.Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TechConRegistration</servlet-name>
<servlet-class>SkillTest.Controller.TechConRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>TechConRegistration</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

</web-app>