<web-app>

<servlet>
<servlet-name>Example1</servlet-name>
<servlet-class>DemoServlet.DemoServ</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Example1</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>myservlet</servlet-name>
<servlet-class>FirstServlet.WelcomeServlet.HelloServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>myservlet</servlet-name>
<url-pattern>/mywelcomeservlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>mycontroller</servlet-name>
<servlet-class>MVCdemo.Controller.CoffeeSelect</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>mycontroller</servlet-name>
<url-pattern>/demo/CoffeeSelection</url-pattern>
</servlet-mapping>



<servlet>

<servlet-name>hittinguser</servlet-name>
<servlet-class>
FirstServlet.WelcomeServlet.HittingUserServlet
</servlet-class>

<init-param>
<param-name>user1</param-name>
<param-value>Valli</param-value>
</init-param>

<init-param>
<param-name>user2</param-name>
<param-value>Aarthi</param-value>
</init-param>

</servlet> 


<servlet-mapping>
<servlet-name>hittinguser</servlet-name>
<url-pattern>/counter</url-pattern>
</servlet-mapping>



<!-- servlet config demo  -->
<servlet>

<servlet-name>servletconfigdemo</servlet-name>
<servlet-class>
FirstServlet.WelcomeServlet.ServletConfigDemoServlet
</servlet-class>

<init-param>
<param-name>Name</param-name>
<param-value>Valli</param-value>
</init-param>

<init-param>
<param-name>Phone</param-name>
<param-value>Samsung</param-value>
</init-param>

</servlet> 


<servlet-mapping>
<servlet-name>servletconfigdemo</servlet-name>
<url-pattern>/servletconfigdemo</url-pattern>
</servlet-mapping>


<!-- servletcontext demo  -->

<servlet>

<servlet-name>servletcontextdemo</servlet-name>
<servlet-class>
FirstServlet.WelcomeServlet.ServletContextDemoServlet
</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>servletcontextdemo</servlet-name>
<url-pattern>/servletcontextdemo</url-pattern>
</servlet-mapping>


<context-param>
<param-name>College-Name</param-name>
<param-value>SSN</param-value>
</context-param>


<!-- Linking servlets without session handling demo  -->

<servlet>

<servlet-name>linkingservletswithoutsessionhandling</servlet-name>
<servlet-class>
LinkingServlets.FirstServlet
</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>linkingservletswithoutsessionhandling</servlet-name>
<url-pattern>/FirstServlet</url-pattern>
</servlet-mapping>

<servlet>

<servlet-name>linkingsecondservletwithoutsession</servlet-name>
<servlet-class>
LinkingServlets.SecondServlet
</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>linkingsecondservletwithoutsession</servlet-name>
<url-pattern>/SecondServlet</url-pattern>
</servlet-mapping>

<!-- Session handling with HTTPSessions demo  -->

<servlet>

<servlet-name>sessionhandlingwithHTTPSessions</servlet-name>
<servlet-class>
SessionHandling.WithHTTPSessions.FirstServlet
</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>sessionhandlingwithHTTPSessions</servlet-name>
<url-pattern>/FirstServletwithHTTPSessions</url-pattern>
</servlet-mapping>

<servlet>

<servlet-name>linkingsecondservletDuringsessions</servlet-name>
<servlet-class>
SessionHandling.WithHTTPSessions.SecServlet
</servlet-class>
</servlet> 

<servlet-mapping>
<servlet-name>linkingsecondservletDuringsessions</servlet-name>
<url-pattern>/SecServlet</url-pattern>
</servlet-mapping>

<!-- Session Handling with Cookie demo-->

  
<servlet>  
<servlet-name>CookieDemoBook1</servlet-name>  
<servlet-class>WelcomeBookCookie</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>CookieDemoBook1</servlet-name>  
<url-pattern>/FirstBookCookie</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>CookieDemoBook2</servlet-name>  
<servlet-class>ThankCookie</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>CookieDemoBook2</servlet-name>  
<url-pattern>/ThankCookie</url-pattern>  
</servlet-mapping>  
  
</web-app>  

