#Main__cardArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* horizontal centering */
    width: 800px;   /* Fit 4 cards */
    margin: 20px auto;
}

.Main__cardWrapper{
    height: 225x;
    width: 150px;
}

.Main__cardImage, .Main__cardWord{
    padding: 8%;
    width: 84%;
    height: 84%;
}