<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/login-styles.css">

</head>

<body>
    <div id="bg"></div>
    <form method="POST" action="">
        <div class=" form-field">
            <input name="email" type="email" placeholder="Email" required="">
        </div>

        <div class="form-field">
            <input name="passwd" type="password" placeholder="Password" required="">
        </div>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>



</body>

</html>